body {
  background-color: #fafafa
}

.bg-nav {
  background: #049372;
  box-shadow: 0px 1px 1px #888888;

}

.mininav {
  background: rgba(4, 147, 114, 0.1);
  color: #5f5f5f;
  height: 35px;
}

.nav-link {
  padding-right: 5px!important;
  margin-right:17px!important;
  padding-left: 5px!important;
}

#filt {
  height: 70%;
  margin-top: 6px;
}

input.form-control::-webkit-input-placeholder {
  opacity: 0.3;
}

.selected {
  font-weight: bold;
}

.card {
  width: 155px;
}

.crd {
  margin: 0.8% 0.8% 0.8% 0.8%;
}

.card > .card-img-top {
  max-width: 300px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding-top: 8px;
  padding-bottom: 8px;
}

.card-text {
  text-align: center;
  font-family: 'Segoe UI';
}

.card-footer {
  font-size: 15px;
}

.card:hover {
  box-shadow: 0 0 25px rgba(33,33,33,.2); 
}

#uname {
  right:0;
  position: absolute;
  margin-right: 20px;
  color:#fff;
}

#banner {
  width:400px;
  left:-80px;
  height:auto;
  opacity:0.1;
  bottom:0;
  position:absolute;
  z-index: -100;
}

#logo {
  height:30px;
  width:110px;
  margin-right:50%;
  cursor: default;
  opacity: 0.85;
}

a:hover {
  cursor: pointer;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }

  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }

            .nice-select.wide {
              width: 100%; }
